@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Outfit", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #875cf5;
}

@layer base {
    html {
        font-family: var(--font-display);
    }
    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input {
    border: 2px solid black;  
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    width: 100%;
    transition: border-color 0.3s ease;    
}

.card {
    @apply bg-white rounded-lg shadow-md p-6;
}

.card-btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-purple-700 transition-colors duration-300;
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-purple-600 whitespace-nowrap bg-purple-50 border border-purple-100 rounded-lg px-4 py-2 cursor-pointer;
}

.add-btn-fill {
    @apply text-white bg-primary
}